.container {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 125px 1fr;
  grid-gap: 1rem;
  grid-template-areas:
      "header header header"
      "content content content"
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}
